<div class="container">
  <div>
    <acme-navbar creationDate="main.creationDate" />
    </div>
    <div class="jumbotron text-center">
      <h1>'Hello, Docker !</h1>
      <p class="lead">
        <img src="assets/images/docker.png" alt="I'm Docker"><br><br>
        <!-- Always a pleasure scaffolding your apps. <br> -->
        总是帮助你愉快的构建和部署应用
      </p>
      <p class="animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">点击查看项目</button>
      </p>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular' , 'Docker' , 'DaoCloud' ,  'yeting']" />
        </p>
        
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>根据环境变量修改 API URL</h3>
              <h4>
                gulp env:config
              </h4>
              <p>
                根据环境变量 APP_ENV 生成 API URL <br>
                当前 API : <br> {{main.apiUrl}}
              </p>
            </div>
          </div>
        </div>
         <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>根据环境变量修改 CDN</h3>
              <h4>
                gulp cdn
              </h4>
              <p>
                根据环境变量 APP_CDN 设置静态文件的 CDN，达到访问加速的效果, 例如 <a href="http://www.qiniu.com/">七牛</a> 
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>优化 Docker 启动命令</h3>
              <h4>
                gulp build => gulp env:replace
              </h4>
              <p>
                将需要环境变量的 gulp task 从 gulp build 剥离，在启动是仅执行环境变量的替换，将达到秒级启动 docker 的效果
              </p>
            </div>
          </div>
        </div>
       
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
          <div class="thumbnail">
            <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
            <div class="caption">
              <h3>{{ awesomeThing.title }}</h3>
              <p>{{ awesomeThing.description }}</p>
              <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>